<% content_for :title do %>
    Ändra Lösenord
<%end%>
<article class="main" id="chg_pass_main">
    <p>Logga in för att se vilka saker du har lånat:</p>
    <form action="/change-password" id="chg_pass_form" method="post" enctype="application/x-www-form-urlencoded">
        <input type="password" name="user_password" id="user_password" placeholder="Nuvarande lösenord">

        <input type="password" name="new_password_1" id="new_password_1" placeholder="Nytt lösenord">

        <input type="password" name="new_password_2" id="new_password_2" placeholder="Nytt lösenord igen">

        <input type="button" id="chg_pass_submit_button" value="Byt Lösenord" onclick="on_submit()">
    </form>
    <p id="error_msg"></p>
</article>

<script type="text/javascript" charset="utf-8">
    function on_submit() {
        var login_info = new FormData();
        login_info.append("user_email", "<%=session[:user_email]%>");
        login_info.append("user_password", document.getElementById("user_password").value);

        if(document.getElementById("user_password").value === "" || document.getElementById("new_password_1").value === "" || document.getElementById("new_password_2").value === "") {
            document.getElementById("error_msg").innerHTML = "Du har inte fyllt i alla fält än!";
            return;
        }

        if(document.getElementById("new_password_1").value !== document.getElementById("new_password_2").value) {
            document.getElementById("error_msg").innerHTML = "De nya lösenorden matchar inte! Försök igen.";
            return;
        }

        newServerAjaxCall("/check-user-information", login_info, function (response) {
            if (response === "true") {
                document.getElementById("chg_pass_form").submit();
            } else {
                document.getElementById("error_msg").innerHTML = "Fel lösenord! Försök igen.";
            }
        });
    }
</script>