- content_for :title do
  | Logga In
article#login_main.main
  h2 Logga in:
  p Alla fält är obligatoriska.
  form#login_form action="/session" enctype="application/x-www-form-urlencoded" method="post" onkeypress="login_form_keypress(event)"
    input#login_email name="user_email" placeholder="Email" type="email"
    input#login_password name="user_password" placeholder="lösenord" type="password"
    input#login_submit_button onclick="on_login_submit()" type="button" value=("Logga in")
  p#error_msg