- content_for :title do
  | Mina Lån

article#my_loans_main.main
  h3 Här finns alla saker du har lånat:
  #loaned_items
    - if loans_items.length <= 0
      h3 Du har inte lånat något.
    - else
      table
        tr
          td
            h3.table_title.name Namn:
          td
            h3.table_title.quantity Antal
      - id = 0
      - date_id = 0
      - loans_items.each do |loan|
        - date_id += 1
        h4.date_paragraph id="date_id_#{date_id}"
          | Saker lånat den #{loan[:date]}
        table id="table_id_#{date_id}"
          - loan[:items].each do |item|
            - id += 1
            tr id="table_row_#{id}"
              td.name
                a.table_item href="/inventory/#{item[:item_id]}" = item[:item]
              td.quantity id="table_item_quantity_#{id}"
                p.table_item = item[:quantity]
              td
                input onclick="delete_item(#{user_id},#{item[:loan_id]},#{item[:item_id]}, #{id}, #{date_id})" type="button" value=("Lämna tillbaka")
