body {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh; }
  body p, body h1, body h2, body h3, body h4, body h5, body a, body u, body i {
    color: black;
    font-family: "Open Sans", sans-serif; }

@media print {
  #mobile_menu_icon, #mobile_menu, #nav_mobile, #nav_desktop, .menu_icons {
    display: none; }

  #print_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center; }
    #print_title h1 {
      margin: 20px 0 0 0; } }
@media screen {
  .itg-logo-pink {
    color: #dd007d; }

  .itg-logo-orange {
    color: #ffaa47; }

  .itg-logo-blue {
    color: #00a2c7; }

  #print_title {
    display: none; }

  nav {
    display: flex;
    background-color: black;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    width: 100vw;
    position: fixed;
    z-index: 100; }
    nav p, nav a {
      font-family: "Open Sans", sans-serif;
      margin: 0;
      padding: 10px;
      font-size: 1em;
      color: white;
      text-decoration: none; }
    nav p:hover {
      cursor: default; }
    nav a:hover {
      cursor: pointer; }
    nav .logga_text {
      font-family: "Open Sans", sans-serif;
      font-size: 1.4em;
      font-weight: bold; }
    nav #left_nav, nav #right_nav {
      width: 100%;
      height: 100%; }
    nav .nav_wrapper_center {
      width: 100%;
      max-width: 300px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
    nav .nav_wrapper_right {
      width: 100%;
      max-width: 190px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      nav .nav_wrapper_right p {
        padding: 0; }
    nav #left_nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0 20px 0 20px; }
    nav #center_nav {
      width: 50%;
      min-width: 300px;
      height: 100%;
      z-index: 101;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      nav #center_nav #desktop_nav_logga {
        font-family: Tahoma, sans-serif;
        font-size: 2em; }
      nav #center_nav:hover {
        cursor: pointer; }
    nav #right_nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0 20px 0 20px; }
      nav #right_nav .nav_wrapper {
        max-width: 300px; }
    nav #user_menu {
      position: fixed;
      top: 60px;
      right: 0;
      min-width: 200px;
      display: flex;
      visibility: hidden;
      flex-direction: column;
      z-index: 100; }
      nav #user_menu #user_menu_top {
        width: 100%;
        height: 50px;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        nav #user_menu #user_menu_top #triangle {
          width: 2px;
          height: 0;
          border-bottom: 40px solid black;
          border-left: 40px solid transparent;
          border-right: 40px solid transparent; }
      nav #user_menu #user_menu_items {
        background: linear-gradient(0deg, #393939, #000);
        padding: 20px 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around; }
        nav #user_menu #user_menu_items p, nav #user_menu #user_menu_items a {
          color: white;
          margin: 15px 0;
          padding: 0;
          font-weight: bold;
          font-size: 1em; } }
@media screen and (max-width: 799px) {
  #nav_desktop {
    display: none; } }
@media screen and (min-width: 800px) {
  #nav_desktop {
    display: flex; } }

@media screen and (max-width: 799px) {
  #nav_mobile {
    display: flex;
    align-items: normal;
    justify-content: center;
    flex-direction: column; } }
@media screen and (min-width: 800px) {
  #nav_mobile {
    display: none; } }
@media screen {
  #nav_mobile h5 {
    font-family: "Open Sans", sans-serif;
    color: white;
    margin: 0 0 0 15px; }
  #nav_mobile p {
    font-size: 0.5em;
    margin: 0 0 0 15px;
    padding: 0; }

  #mobile_menu {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -120vw;
    z-index: 102;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 20vw black;
    align-items: center; } }
  @media screen and (min-width: 800px) {
    #mobile_menu {
      display: none; } }
@media screen {
    #mobile_menu #logo_text_div {
      margin-top: 6vh;
      color: white;
      font-size: 2em;
      display: flex;
      flex-direction: column; }
      #mobile_menu #logo_text_div h3 {
        color: white;
        margin: 0; }
    #mobile_menu #mobile_menu_links {
      margin-top: 10vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #mobile_menu #mobile_menu_links h4 {
        font-size: 1.4em;
        font-family: "Open Sans", sans-serif;
        margin: 0;
        padding: 5px;
        color: white; }

  .mobile_menu_animate_in {
    animation-duration: 0.7s;
    animation-name: mobile_menu_slide_in;
    animation-timing-function: ease-in-out; }

  .mobile_menu_animate_out {
    animation-duration: 0.7s;
    animation-name: mobile_menu_slide_out;
    animation-timing-function: ease-in-out; }

  @keyframes mobile_menu_slide_in {
    from {
      right: -120vw; }
    to {
      right: 0; } }
  @keyframes mobile_menu_slide_out {
    from {
      right: 0; }
    to {
      right: -120vw; } }
  .menu_icons {
    position: fixed;
    top: 10px;
    right: 80px;
    width: 32px;
    z-index: 104; } }
  @media screen and (min-width: 800px) {
    .menu_icons {
      display: none; } }

@media screen {
  #mobile_menu_icon {
    position: fixed;
    display: flex;
    top: 5px;
    right: 20px;
    width: 31px;
    height: 30px;
    flex-direction: column;
    padding: 5px;
    z-index: 104; } }
  @media screen and (min-width: 800px) {
    #mobile_menu_icon {
      display: none; } }
@media screen {
    #mobile_menu_icon #menu_icon_top_bar, #mobile_menu_icon #menu_icon_middle_bar, #mobile_menu_icon #menu_icon_bottom_bar {
      width: 31px;
      height: 6px;
      background-color: white;
      border-radius: 3.1px; }
    #mobile_menu_icon #menu_icon_middle_bar {
      margin: 6px 0 6px 0; }

  .top_bar_animate_in {
    animation-duration: 0.5s;
    animation-name: top_bar_rotate_down;
    animation-timing-function: ease-in-out;
    transform-origin: 100% 100%; }

  .top_bar_animate_out {
    animation-duration: 0.5s;
    animation-name: top_bar_rotate_up;
    animation-timing-function: ease-in-out;
    transform-origin: 100% 100%; }

  .middle_bar_animate_in {
    animation-duration: 0.3s;
    animation-name: middle_bar_fadeout;
    animation-timing-function: ease-in-out; }

  .middle_bar_animate_out {
    animation-duration: 0.7s;
    animation-name: middle_bar_fadein;
    animation-timing-function: ease-in-out; }

  .bottom_bar_animate_in {
    animation-duration: 0.5s;
    animation-name: bottom_bar_rotate_up;
    animation-timing-function: ease-in-out;
    transform-origin: 100% 0; }

  .bottom_bar_animate_out {
    animation-duration: 0.5s;
    animation-name: bottom_bar_rotate_down;
    animation-timing-function: ease-in-out;
    transform-origin: 100% 0; }

  @keyframes top_bar_rotate_down {
    from {
      transform: rotate(0deg); }
    to {
      transform: rotate(-45deg); } }
  @keyframes top_bar_rotate_up {
    from {
      transform: rotate(-45deg); }
    to {
      transform: rotate(0deg); } }
  @keyframes middle_bar_fadeout {
    from {
      opacity: 1; }
    to {
      opacity: 0; } }
  @keyframes middle_bar_fadein {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
  @keyframes bottom_bar_rotate_up {
    from {
      transform: rotate(0deg); }
    to {
      transform: rotate(45deg); } }
  @keyframes bottom_bar_rotate_down {
    from {
      transform: rotate(45deg); }
    to {
      transform: rotate(0deg); } } }
#search_margin_box {
  width: 100%;
  height: 70px;
  background-color: transparent; }

#inventory_search_div {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 70px;
  top: 60px;
  left: 0;
  background-color: lightgray; }
  #inventory_search_div #search_form {
    display: flex;
    flex-direction: row;
    width: 50%; }
    @media (max-width: 799px) {
      #inventory_search_div #search_form {
        width: 90%; } }
    #inventory_search_div #search_form input[type="search"] {
      font-family: "Open Sans", sans-serif;
      font-size: 1em;
      padding: 8px 15px;
      border-radius: 100px;
      border: 2px solid grey;
      width: 100%;
      background-color: white; }
      #inventory_search_div #search_form input[type="search"]:focus {
        border: 2px solid black;
        outline: none; }
    #inventory_search_div #search_form input[type="submit"] {
      border: 2px solid grey;
      background-color: white;
      font-family: "Open Sans", sans-serif;
      font-size: 1em;
      padding: 8px 20px;
      border-radius: 100px;
      margin-left: 10px; }
      #inventory_search_div #search_form input[type="submit"]:hover {
        cursor: pointer;
        border: 2px solid black; }
      #inventory_search_div #search_form input[type="submit"]:focus {
        border: 2px solid black;
        outline: none; }

#category_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #category_wrapper #categories_list {
    margin-top: 20px; }
    #category_wrapper #categories_list h3 {
      margin: 0 0 10px 0; }
  #category_wrapper #categories {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    max-height: calc(100vh - 280px);
    padding-right: 30px; }
    #category_wrapper #categories a {
      color: black;
      margin-bottom: 8px;
      text-decoration: none; }

@media screen {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100vw;
    background-color: black;
    height: 70px;
    font-family: "Open Sans", sans-serif;
    margin-top: 5vh;
    color: white; } }
  @media screen and (max-width: 799px) {
    footer {
      flex-direction: column;
      height: 250px;
      justify-content: space-around;
      text-align: center; } }
@media screen {
    footer p {
      color: white;
      font-size: 0.8em;
      margin: 0 10px 0 10px; }
    footer img {
      margin-left: 20px;
      margin-right: 20px; }
    footer .itg_logo {
      height: 15px; } }
@media screen and (max-width: 799px) {
  #footer_desktop {
    display: none; } }
@media screen and (min-width: 800px) {
  #footer_desktop {
    display: flex; } }

@media screen and (max-width: 799px) {
  #footer_mobile {
    display: flex; } }
@media screen and (min-width: 800px) {
  #footer_mobile {
    display: none; } }

@media print {
  #footer_desktop, #footer_mobile {
    display: none; } }
@media screen {
  .main {
    margin-top: 60px; }

  .print {
    display: none; } }
@media print {
  .screen {
    display: none; }

  .print {
    display: flex; } }
input[type=submit], input[type=button], .a_button, input[type=reset] {
  background-color: lightgray;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em;
  padding: 10px 20px;
  color: black;
  box-sizing: border-box; }
  input[type=submit]:disabled, input[type=button]:disabled, .a_button:disabled, input[type=reset]:disabled {
    background-color: #f4f4f4;
    color: lightgray; }
  input[type=submit]:hover, input[type=button]:hover, .a_button:hover, input[type=reset]:hover {
    cursor: pointer; }

input[type=text], select, input[type=number], input[type=file], input[type=email], input[type=password], input[type=date] {
  border: 2px solid gray;
  border-radius: 5px;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  padding: 5px;
  width: 100%;
  box-sizing: border-box; }
  input[type=text]:focus, select:focus, input[type=number]:focus, input[type=file]:focus, input[type=email]:focus, input[type=password]:focus, input[type=date]:focus {
    border: 2px solid black;
    outline: none; }

textarea {
  width: 100%;
  height: 300px;
  border: 2px solid gray;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  padding: 5px;
  resize: vertical;
  box-sizing: border-box; }

label {
  font-size: 1em;
  font-family: "Open Sans", sans-serif; }

.a_button {
  text-decoration: none; }

#index_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw; }
  #index_main #header_img {
    width: 100%;
    height: 50vh;
    background: url("../images/header_min.jpg") no-repeat center center;
    background-size: cover; }
  #index_main article {
    width: 70vw;
    padding: 50px;
    background-color: #101010;
    margin-top: -15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px -10px;
    text-align: center; }
    #index_main article .title_text {
      font-size: 60px;
      margin: 30px 0 30px 0; }
    #index_main article h1, #index_main article h2, #index_main article h4, #index_main article p {
      color: white; }
    #index_main article h1 {
      font-size: 2em;
      margin: 20px 0; }
    #index_main article .page_divider {
      width: 100%;
      height: 3px;
      background-color: rgba(255, 255, 255, 0.15);
      margin-top: 5vh;
      margin-bottom: 5vh;
      border-radius: 3px; }
    @media (max-width: 799px) {
      #index_main article {
        max-width: 60vw;
        padding: 30px; }
        #index_main article h4 {
          margin: 0; }
        #index_main article p {
          margin: 5px; } }
    #index_main article #info {
      width: 100%;
      display: flex;
      flex-direction: column; }
      #index_main article #info .row {
        display: flex;
        flex-direction: row;
        width: 100%; }
        @media (max-width: 799px) {
          #index_main article #info .row {
            flex-direction: column-reverse; } }
      #index_main article #info section {
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
        justify-content: center; }
        #index_main article #info section img {
          width: 100%; }
        @media (min-width: 800px) {
          #index_main article #info section {
            width: 100%; } }

#inventory_main {
  display: flex;
  flex-direction: row;
  margin-top: 130px; }
  @media (max-width: 799px) {
    #inventory_main {
      flex-direction: column;
      align-items: center; } }
  #inventory_main #category_box {
    width: 250px;
    position: fixed; }
    @media (max-width: 799px) {
      #inventory_main #category_box {
        display: none; } }
  #inventory_main .item_divider {
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2); }
  #inventory_main #inventory {
    width: calc(100vw - 300px);
    margin-left: 250px; }
    @media (max-width: 799px) {
      #inventory_main #inventory {
        width: 90vw;
        margin-left: 0; } }
    #inventory_main #inventory section {
      display: flex;
      flex-direction: column; }
      #inventory_main #inventory section .title_bar {
        display: flex;
        flex-direction: row; }
        #inventory_main #inventory section .title_bar .title {
          width: 100%; }
        #inventory_main #inventory section .title_bar .actions {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center; }
          #inventory_main #inventory section .title_bar .actions button {
            background-color: lightgray;
            border: none;
            font-family: "Open Sans", sans-serif;
            font-size: 1.3em;
            padding: 10px 20px;
            white-space: nowrap; }
    #inventory_main #inventory #inventory_items {
      width: 100%;
      display: flex;
      flex-direction: column; }
      #inventory_main #inventory #inventory_items #search_nothing_found_text {
        text-align: center;
        margin: 30px 0; }
      #inventory_main #inventory #inventory_items .item {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 20px 0; }
        #inventory_main #inventory #inventory_items .item .item_picture {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100px;
          width: 100px;
          min-width: 100px;
          min-height: 100px; }
          @media (max-width: 799px) {
            #inventory_main #inventory #inventory_items .item .item_picture {
              height: 70px;
              width: 70px;
              min-width: 70px;
              min-height: 70px; } }
          #inventory_main #inventory #inventory_items .item .item_picture img {
            width: 100%; }
          #inventory_main #inventory #inventory_items .item .item_picture img[alt] {
            font-family: "Open Sans", sans-serif;
            font-size: 1em;
            text-align: center; }
        #inventory_main #inventory #inventory_items .item .item_info {
          margin-left: 20px;
          width: 100%;
          overflow-x: hidden; }
          #inventory_main #inventory #inventory_items .item .item_info .item_quantity {
            float: right;
            margin: 0;
            font-size: 1.2em; }
            @media (max-width: 799px) {
              #inventory_main #inventory #inventory_items .item .item_info .item_quantity {
                font-size: 0.9em; } }
          #inventory_main #inventory #inventory_items .item .item_info a {
            width: 100%;
            font-size: 1.5em;
            font-weight: bold;
            text-decoration: none; }
            @media (max-width: 799px) {
              #inventory_main #inventory #inventory_items .item .item_info a {
                font-size: 0.9em; } }
          @media (max-width: 799px) {
            #inventory_main #inventory #inventory_items .item .item_info .item_description {
              font-size: 0.9em; } }
  #inventory_main #sorting {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px; }
    @media (max-width: 799px) {
      #inventory_main #sorting {
        flex-direction: column; } }
    #inventory_main #sorting .sorting_options {
      display: flex;
      flex-direction: row; }
    #inventory_main #sorting h4, #inventory_main #sorting u, #inventory_main #sorting p {
      margin: 0 20px 0 0; }
    #inventory_main #sorting u:hover {
      cursor: pointer; }

#login_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: calc(95vh - 70px); }
  #login_main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; }
  #login_main input[type=email], #login_main input[type=password] {
    margin: 5px 0; }
  #login_main input[type=button], #login_main .a_button {
    margin-top: 30px; }

#register_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: calc(95vh - 70px); }
  #register_main .grecaptcha-badge {
    display: none; }
  #register_main form {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #register_main label {
    margin: 0 20px 0 0; }
  #register_main td {
    padding-bottom: 8px; }
  #register_main #buttons {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; }

#my_loans_main {
  padding: 10px calc(10vw);
  display: flex;
  flex-direction: column; }
  #my_loans_main #categories {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: calc(7vw);
    top: 120px; }
  #my_loans_main #loaned_items {
    width: 100%; }
    #my_loans_main #loaned_items .table_title {
      margin: 5px 0 0 0; }
    #my_loans_main #loaned_items .name {
      width: 30vw; }
    #my_loans_main #loaned_items .table_item {
      margin: 0; }
    #my_loans_main #loaned_items .table_row {
      border-bottom: 2px solid lightgrey;
      padding: 10px 0; }
    #my_loans_main #loaned_items .quantity {
      text-align: center;
      width: 10vw; }
    #my_loans_main #loaned_items .description {
      width: 80%; }
    #my_loans_main #loaned_items .date_paragraph {
      margin: 20px 0 0 0; }

#item_main {
  margin-top: 130px;
  display: flex;
  flex-direction: row; }
  @media (max-width: 799px) {
    #item_main {
      flex-direction: column;
      align-items: center; } }
  #item_main #category_box {
    width: 250px;
    position: fixed; }
    @media (max-width: 799px) {
      #item_main #category_box {
        display: none; } }
  #item_main section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%; }
    #item_main section div {
      width: 100%; }
    #item_main section #item_category {
      margin: 0; }
  #item_main #item_box {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: calc(100vw - 300px);
    margin-left: 250px; }
    @media (max-width: 799px) {
      #item_main #item_box {
        width: 90vw;
        margin: 0;
        align-items: center; } }
    #item_main #item_box #item_info {
      width: 100%; }
      @media (max-width: 799px) {
        #item_main #item_box #item_info {
          display: flex;
          flex-direction: column;
          align-items: center; } }
    #item_main #item_box #item_specs {
      display: flex;
      flex-direction: column;
      align-items: center;
      float: right;
      padding: 10px;
      border: 1px solid black;
      width: 300px; }
      @media (min-width: 800px) {
        #item_main #item_box #item_specs {
          margin: 0 0 20px 20px; } }
      #item_main #item_box #item_specs #item_image {
        width: 100%;
        height: 100%;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white; }
        @media (min-width: 800px) {
          #item_main #item_box #item_specs #item_image {
            padding: 10px; } }
        #item_main #item_box #item_specs #item_image img {
          width: 100%; }
        #item_main #item_box #item_specs #item_image img[alt] {
          font-family: "Open Sans", sans-serif;
          font-size: 1em;
          text-align: center; }
      #item_main #item_box #item_specs .item_divider {
        width: 100%;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.2); }
      #item_main #item_box #item_specs h4 {
        margin: 10px 0 5px 0; }
      #item_main #item_box #item_specs h3, #item_main #item_box #item_specs #barcode {
        margin: 4px 0 6px 0; }
      #item_main #item_box #item_specs table {
        padding: 5px;
        background-color: lightgray;
        width: 100%;
        box-sizing: border-box; }
        #item_main #item_box #item_specs table p {
          margin: 3px 0; }
        #item_main #item_box #item_specs table td {
          width: 50%; }
      #item_main #item_box #item_specs #spec_title {
        font-weight: bold; }
      #item_main #item_box #item_specs #spec_value {
        font-style: italic; }
    #item_main #item_box #item_header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px; }
      @media (max-width: 799px) {
        #item_main #item_box #item_header {
          display: flex;
          flex-direction: column; } }
      #item_main #item_box #item_header h1, #item_main #item_box #item_header h3 {
        margin: 10px 0; }
      #item_main #item_box #item_header h1 {
        font-size: 2em; }
    #item_main #item_box #item_description {
      letter-spacing: 1px;
      line-height: 1.5em; }
    #item_main #item_box #item_category {
      margin: 0 0 20px 0; }

#chg_pass_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: calc(95vh - 70px); }
  #chg_pass_main form {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #chg_pass_main label {
    font-family: "Open Sans", sans-serif;
    font-size: 1em; }

#error_page_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh; }
  #error_page_main div {
    background-color: lightgray;
    padding: 30px; }
    #error_page_main div h1, #error_page_main div h4 {
      text-align: center; }
    #error_page_main div p {
      text-align: center;
      line-height: 1.5em; }

#printer-main {
  display: flex;
  flex-direction: row; }
  #printer-main .site_tree {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #printer-main .site_tree #list {
      position: fixed;
      display: flex;
      flex-direction: column; }
      #printer-main .site_tree #list h2 {
        margin: 50px 0 10px 0; }
      #printer-main .site_tree #list a {
        margin-top: 10px; }
  #printer-main #content {
    width: 80%;
    height: 100%;
    padding-right: 5%; }
    #printer-main #content table {
      margin-top: 15px; }
    #printer-main #content h1 {
      margin-top: 10px; }
    #printer-main #content p {
      margin: 10px 0;
      line-height: 1.3rem; }
    #printer-main #content h4 {
      font-weight: bold;
      font-style: italic;
      margin: 0 30px 0 0; }
    #printer-main #content h5 {
      margin: 0;
      font-size: 1rem; }
    #printer-main #content img {
      width: 50vw; }
    #printer-main #content #img_plaster {
      max-width: 700px; }
    #printer-main #content .img-float-right {
      float: right;
      width: 25vw; }
    #printer-main #content .article {
      overflow: auto; }
  #printer-main .content {
    padding-top: 60px; }

#under_construction_main {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #under_construction_main #center_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    padding: 40px; }

#add-inventory-item {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #add-inventory-item #main {
    display: flex;
    flex-direction: column;
    width: 80vw; }
    #add-inventory-item #main h4 {
      margin: 10px 0 15px 0; }
    #add-inventory-item #main input[type=number], #add-inventory-item #main #item-barcode {
      text-align: center; }
    #add-inventory-item #main #actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-top: 30px; }
    #add-inventory-item #main #upper {
      display: flex;
      flex-direction: row; }
      #add-inventory-item #main #upper #product_image_div {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%; }
        #add-inventory-item #main #upper #product_image_div section {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%; }
          #add-inventory-item #main #upper #product_image_div section img {
            width: 100%; }
          #add-inventory-item #main #upper #product_image_div section img[alt] {
            font-family: "Open Sans", sans-serif;
            font-size: 2em;
            text-align: center; }
      #add-inventory-item #main #upper #product_info_div {
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 100%; }
    #add-inventory-item #main #lower {
      display: flex;
      flex-direction: column;
      align-items: left;
      padding: 20px;
      margin-top: 20px; }
      #add-inventory-item #main #lower textarea {
        height: 500px; }
      #add-inventory-item #main #lower #preview_actions {
        margin: 20px 0 10px 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between; }
      #add-inventory-item #main #lower #item_page_preview {
        width: 100%;
        height: 500px;
        border: 2px solid gray;
        background-color: white;
        margin: 5px 0;
        font-family: "Open Sans", sans-serif;
        font-size: 1em;
        padding: 5px;
        overflow-y: scroll;
        box-sizing: border-box;
        resize: vertical; }
        #add-inventory-item #main #lower #item_page_preview .item_divider {
          width: 100%;
          height: 2px;
          background-color: rgba(0, 0, 0, 0.2); }
        #add-inventory-item #main #lower #item_page_preview #item_specs_div {
          display: flex;
          flex-direction: column;
          align-items: center;
          float: right;
          padding: 10px;
          border: 1px solid black;
          width: 300px; }
          @media (min-width: 800px) {
            #add-inventory-item #main #lower #item_page_preview #item_specs_div {
              margin: 0 0 20px 20px; } }
          #add-inventory-item #main #lower #item_page_preview #item_specs_div #item_specs {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%; }
            #add-inventory-item #main #lower #item_page_preview #item_specs_div #item_specs h4 {
              margin: 10px 0 5px 0; }
            #add-inventory-item #main #lower #item_page_preview #item_specs_div #item_specs table {
              padding: 5px;
              background-color: lightgray;
              width: 100%;
              box-sizing: border-box; }
              #add-inventory-item #main #lower #item_page_preview #item_specs_div #item_specs table p {
                margin: 3px 0; }
              #add-inventory-item #main #lower #item_page_preview #item_specs_div #item_specs table td {
                width: 50%; }
            #add-inventory-item #main #lower #item_page_preview #item_specs_div #item_specs #spec_title {
              font-weight: bold; }
            #add-inventory-item #main #lower #item_page_preview #item_specs_div #item_specs #spec_value {
              font-style: italic; }
          #add-inventory-item #main #lower #item_page_preview #item_specs_div #item_image {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: white; }
            @media (min-width: 800px) {
              #add-inventory-item #main #lower #item_page_preview #item_specs_div #item_image {
                padding: 10px; } }
            #add-inventory-item #main #lower #item_page_preview #item_specs_div #item_image img {
              width: 100%; }
            #add-inventory-item #main #lower #item_page_preview #item_specs_div #item_image img[alt] {
              font-family: "Open Sans", sans-serif;
              font-size: 1em;
              text-align: center; }

#order-new-edit {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #order-new-edit #main {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    width: 600px;
    float: right; }
    #order-new-edit #main #actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
    #order-new-edit #main table {
      width: 100%; }

#orders {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #orders #main {
    margin-top: 30px;
    width: 80vw;
    display: flex;
    flex-direction: column; }
    #orders #main #info {
      display: flex;
      flex-direction: column; }
      #orders #main #info #actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; }
    #orders #main #orders_box table {
      width: 100%;
      font-size: 1.2em; }
      #orders #main #orders_box table h4 {
        margin: 0px 5px; }
      #orders #main #orders_box table .inline {
        white-space: nowrap; }
      #orders #main #orders_box table .align_center {
        text-align: center; }

@media print {
  #order_page #buttons {
    display: none; }
  #order_page .info {
    flex-direction: column;
    text-align: center; }
    #order_page .info table {
      text-align: left; }
      #order_page .info table .order_info {
        margin: 0 20px 0 0; }
      #order_page .info table p {
        margin: 0;
        font-size: 14px; }
  #order_page #items table {
    width: 100%; }
    #order_page #items table td {
      font-size: 12px;
      text-align: left; }
    #order_page #items table p {
      margin: 5px 0; }
    #order_page #items table .align_center {
      text-align: center; }
    #order_page #items table .align_right {
      text-align: right; } }
@media screen {
  #order_page {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #order_page #main {
      margin-top: 40px;
      width: 80vw;
      display: flex;
      flex-direction: column; }
      #order_page #main .info {
        display: flex;
        flex-direction: column;
        width: 100%; }
        #order_page #main .info #actions {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center; }
          #order_page #main .info #actions #titles {
            display: flex;
            flex-direction: column; }
            #order_page #main .info #actions #titles h1, #order_page #main .info #actions #titles h3 {
              margin: 5px 0; }
          #order_page #main .info #actions #buttons {
            display: flex;
            flex-direction: row; }
            #order_page #main .info #actions #buttons a {
              margin-left: 20px; }
      #order_page #main #items {
        width: 100%;
        text-align: center; }
        #order_page #main #items table {
          width: 100%; }
          #order_page #main #items table .name {
            width: 100%; }
          #order_page #main #items table td {
            font-size: 1.2em;
            text-align: left;
            flex-direction: row;
            padding: 0 5px; }
          #order_page #main #items table p {
            margin: 10px 0; }
          #order_page #main #items table .align_center {
            text-align: center; }
          #order_page #main #items table .align_right {
            text-align: right; }
          #order_page #main #items table .no_wrap {
            white-space: nowrap; }
          #order_page #main #items table input[type=submit], #order_page #main #items table .a_button {
            font-size: 1em;
            padding: 5px 10px; } }
#new_order_item {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #new_order_item #main {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    width: 600px;
    float: right; }
    #new_order_item #main #actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      #new_order_item #main #actions div {
        display: flex;
        flex-direction: row; }
        #new_order_item #main #actions div a {
          margin-right: 20px; }
    #new_order_item #main table {
      width: 100%; }
      #new_order_item #main table input[type=number] {
        text-align: center; }

/*# sourceMappingURL=main.css.map */
