#inventory_search_div {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 65px;
  top: $nav_bar_height;
  left: 0;
  background-color: lightgray;

  #search_form {
    display: flex;
    flex-direction: row;
    width: 50%;
    padding: 2px 15px;
    border-radius: 100px;
    border: 2px solid grey;
    background-color: white;

    &:focus {
      border: 2px solid black;
    }

    @media (max-width: $max_mobile_width) {
      width: 80%;
    }

    input[type="search"] {
      font-family: "Open Sans", sans-serif;
      font-size: 1em;
      border: none;
      width: 100%;
      background-color: white;
      outline: none;
    }

    img {
      width: 32px;
      height: 32px;
      margin-left: 5px;
      &:hover {
        cursor: pointer;
      }
      &:focus {
        outline: none;
      }
    }
  }
}