<footer id="footer">
    <a href="https://www.it-gymnasiet.se"><img src="/images/itgymnasiet_logo_horizontal.png" alt="" id="itg_logo"></a>
    <p>Version: 2.3.0</p>
    <p>|</p>
    <p>Copyright © 2017 IT-Gymnasiet Göteborg Makerspace. Alla rättigheter förbehålls</p>
    <script language="JavaScript" type="text/javascript">
        TrustLogo("https://itgmaker.space/images/comodo_secure_seal_76x26_transp.png", "CL1", "none");
    </script>
    <a  href="https://www.positivessl.com/" id="comodoTL">Positive SSL</a>
</footer>