
<div id="inventory_search_div">
  <form action="/inventory" id="search_form" method="get" onsubmit="return document.getElementById('inventory_search_box').value.length > 0">
    <input type="search" id="inventory_search_box" list="item_names" placeholder="Sök efter saker i lagret" name="search_term">
    <input type="submit" value="Sök">
    <datalist id="item_names">
      <% get_inventory_names.each do |name| %>
          <option value="<%= name[0] %>"><%= name[1] %></option>
      <% end %>
    </datalist>
  </form>
</div>