<nav id="desktop_nav">
    <div id="left_nav">
        <p class="logga_text" >ITG Makerspace</p>
    </div>
    <div id="center_nav">
        <div class="nav_wrapper_center">
            <a href="/" class="nav_title" id="nav_title_home">Hem</a>
            <a href="/inventory" class="nav_title">Lager</a>
            <a href="/3d-skrivare" class="nav_title">3D Skrivare</a>
        </div>
    </div>
    <div id="right_nav">
        <div class="nav_wrapper_right">
            <% if session[:user_email] == "" || session[:user_email] == nil%>
                <a href="/login" class="nav_title">Logga In</a>
                <p>|</p>
                <a href="/register" class="nav_title">Registrera</a>
            <% else %>
                <p onclick="open_user_menu()"><%= session[:user_full_name] %></p>
            <% end %>
        </div>
    </div>

    <div id="user_menu">
        <div id="user_menu_top">
            <div id="triangle"></div>
        </div>
        <div id="user_menu_items">
            <h3>Välkommen <%=session[:user_full_name]%>!</h3>
            <a href="/my-loans">Mina lån</a>
            <a href="/change-password">Ändra lösenord</a>
            <form id="logout_form" action="/logout" method="post">
                <input type="hidden" value="<%= session[:user_email]%>" name="user_email">
                <p onclick="document.getElementById('logout_form').submit()">Logga ut</p>
            </form>
        </div>
    </div>
</nav>