#login_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: calc(95vh - #{$footer_height});

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
  }

  input[type=email], input[type=password] {
    margin: 5px 0;
  }

  input[type=button] {
    margin-top: 30px;
  }
}