#register_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: calc(95vh - #{$footer_height});

  .grecaptcha-badge {
    //position: fixed;
    //right: 0;
    //bottom: 80px;
    display: none;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  label {
    margin: 0 20px 0 0;
  }

  td {
    padding-bottom: 8px;
  }

  #buttons {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}